@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: darkslateblue;
    color: whitesmoke;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 40px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem;
    width: 25rem;
    font-size: 2.5rem;
    font-weight: 1;
    border: 2px solid;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.btn {
    background-color: darkslateblue;
    border: 1px solid whitesmoke;
   
    border-radius: 50%;
    padding: 26px;
    margin: 0px 10px;
    color: rgb(200, 200, 200);
}

.btn:hover {
    cursor: pointer;
    color: white;
}